root {
    display: block;
}
body {
    margin:10px 0px 0px 0px;
}
.content{
    position:relative;
    margin:10px 10px 10px 10px;
    clear:both;
}
.loginPanel {
    background-color:#eaeaea;
    border:#a9a9b1 solid 10px;
    margin:50px auto 75px auto;
    padding:5px;
    width:250px;
}
.loginTextField{
    border:#a9a9b1 solid 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.loginTextField:focus{
    border:#706488 solid 1px;
}
.loginLabel{
    font-size: 17px;
    font-family: Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: Arial,Helvetica,sans-serif;
}
.proyectosPanel{
    float:left;
    width:47%;
}
.tareasReunionesPanel{
    float:right;
    width:47%;
}
.proyectosPanelCliente{
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
    font-size:18px;
}
.proyectosPanelProyecto{
    font-weight:normal;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
}
.proyectosPanelTarea{
    font-weight:normal;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
}
.proyectosPanelTarea2{
    font-weight:normal;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
}
.nuevaTareaLeft{
    float:left;
    width:60%;
}
.nuevaTareaRight{
    float:right;
    width:36%;
}
.nuevoClienteLeft{
    float:left;
    width:60%;
}
.nuevoClienteRight{
    float:right;
    width:36%;
}
.fieldSet{
    background-color:#eaeaea;
    border:#a9a9b1 solid 2px;
}
.legend{
    background-color:white;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
    font-size:18px;
}
.formTextField{
    border:#a9a9b1 solid 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.formTextField:focus{
    border:#706488 solid 1px;
}
.formTd{
    font-family:Arial,Helvetica,sans-serif;
    vertical-align:top;
}
.panelSesion{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width: auto;
    height: auto;
    top:5px;
    right:5px;
}
.tapita{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width: 300px;
    height: 25px;
    top:5px;
    right:5px;
    background-color:white;
}
ul{
    margin-top:0px;
    margin-bottom:0px;
}