.color1 {
    color:#fff;
}

.color2 {
    color:#9a9997;
}

.color3 {
    color:#9c9cb8;
}

.color4 {
    color:#ccc9e4;
}

.color5 {
    color:#a197ba;
}

.color6 {
    color:#6d658a;
}

.color7 {
    color:#cbcbd5;
}

.color8 {
    color:#a298bb;
}

.color9 {
    color:#a098bd;
}

.color10 {
    color:#a098bf;
}

.color11 {
    color:#cdc5ec;
}

.color12 {
    color:#9e9abf;
}

.color13 {
    color:#706488;
}

.color14 {
    color:#feffff;
}

.color15 {
    color:#9a989b;
}

.color16 {
    color:#d2cef3;
}

.color17 {
    color:#a298bd;
}

.color18 {
    color:#cbc7e2;
}

.color19 {
    color:#9894b9;
}

.color20 {
    color:#d1d2d7;
}

.color21 {
    color:#6c658e;
}

.color22 {
    color:#cccbd1;
}

.color23 {
    color:#6b6b75;
}

.color24 {
    color:#6b678c;
}

.color25 {
    color:#d3cbf2;
}

.color26 {
    color:#999997;
}

.color27 {
    color:#fffeff;
}

.color28 {
    color:#9992bb;
}